.f-wrapper{
   display: flex;
   background: white;
   border-radius: 17px;
   box-shadow: var(--boxShadow);
   align-items: center;
   justify-content: space-around;
   height: 4.5rem;
   padding: 0px 28px 0px 0px;
   z-index: 2;
}
.f-wrapper>img{
   transform: scale(0.4);
}
.f-wrapper>span{
   font-family: sans-serif;
   font-size: 16px;
   color: black;
}